<template>
  <div class="hello">
    <div id="header">
    <h1>Sekedar Kuiz</h1>
    <p :style="'color: red'" v-if="poin < items.length-((items.length*3)/10)">Nilai anda tak memenuhi mohon belajar lagi</p>
    <p :style="'color: green'" v-else>Nilai anda sudah diatas rata rata</p>
    <h1>Nilai :{{poin+'0'}}</h1>
    Jumlah Jawaban Benar : {{poin}}
    </div>
    <hr><center><p><b><i>Jawab soal berikut dengan benar</i></b></p></center><hr><br>
    <div v-for="(item,index) in items" :key="item.pertanyaan" :options="item.pertanyaan"> <p>{{index+1}}. {{ item.pertanyaan}}</p>
      <div  v-for="pilih in item.pilihan" :key="pilih.pilihan" :options="pilih.pilihan">
        <input type="radio"  :name="'name'+index" @click="checkJawaban(index,pilih.pilihan)" :value="pilih.pilihan" id="check">{{ pilih.pilihan }}
      </div><hr>
    </div><br><br>
  </div>

</template>

<script>
export default {
  name: 'Test',
  data: function(){
    return {
      nama: 'Alfi NH',
      show: true,
      poin:0,
      jawabanbenar: [],
      items:[
      {
        name:'soal1',
        pertanyaan: 'Binatang yang bisa hidup di air dan di darat disebut..',
        answer:String,
        check:true,
        pilihan:[
        { pilihan:'kodok' },
        { pilihan:'buaya' },
        { pilihan:'hati'},
        { pilihan:'amfibi' } ],
        jawaban:'amfibi'
      },
      {
        pertanyaan: 'Ikan bernafas dengan..',
        name:'soal2',
        check:true,
        answer:String,
        pilihan:[
        { pilihan:'niat' },
        { pilihan:'hati' },
        { pilihan:'insang' },
        { pilihan:'paru paru' }
        ],
        jawaban:'insang'
      },
      {
        pertanyaan: '(25 * 4) + 12 - 111 = ',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'123' },
        { pilihan:'125' },
        { pilihan:'40' },
        { pilihan:'1' }
        ],
        jawaban:'1'
      },
      {
        pertanyaan: 'Perubahan benda padat menjadi gas adalah..',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'mencair' },
        { pilihan:'menyublim' },
        { pilihan:'menguap' },
        { pilihan:'membeku' }
        ],
        jawaban:'menyublim'
      },
      {
        pertanyaan: 'Planet terbesar ialahh..',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'dunia' },
        { pilihan:'mars' },
        { pilihan:'saturnus' },
        { pilihan:'jupiter' }
        ],
        jawaban:'jupiter'
      }
      ]
    }
  },
  methods: {
    hideTitle () {
      this.show = !this.show
    },
    checkJawaban(i,jawab){

      if(this.items[i].jawaban === jawab){
        if(this.jawabanbenar.indexOf(i) == -1){
          this.poin++;
          this.jawabanbenar.push(i);
        }
      }
      if(this.items[i].jawaban !== jawab){
        if(this.jawabanbenar.indexOf(i) != -1){
          this.poin--;
          this.jawabanbenar.splice(this.jawabanbenar.indexOf(i), 1);
        }
      }

        this.items[i].check = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
hr{
  margin-right:300px;
  margin-left:300px;
}
#header{
   background:#eee;
   margin-right:300px;
   margin-left:300px;
}


</style>
